.main-footer{
    color: #7A7A7A;
    background-color: #F9F9F9;
    padding-top: .2em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.footer-logo-style {
    padding-top: 3%;
    width:100%;
    max-width: 100px;
    height: auto;
    float: bottom;
}

.wrapper {
    float:bottom;
}
.col-sm {

    float: right;
    font-size: 10px;
}